@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;600;700&display=swap');

body {
  font-family: 'Titillium Web', sans-serif;
  margin: unset;
  background-color: #222;
  color: aliceblue;
  letter-spacing: 1px;
  overflow-x: hidden;
}

section {
  width: 100%;
  height: auto;
  min-height: 50vh;
}

header {
  z-index: 5;
  position: absolute;
  width: 100vw;
  height: 64px;
}

h2 {
  font-size: 2rem;
  margin: unset;
}

h1 {
  font-size: 3rem;
  margin: unset;
}

a {
  text-decoration: unset;
  color: unset;
}

form {
  width: 350px;
}

input[type="submit"] {
  color: white;
  padding: 10px 45px;
  background-color: transparent;
  border: 2px solid white;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  text-transform: uppercase;
  font-family: 'Rajdhani', sans-serif;
}

textarea {
  color: black;
  width: 100%;
  border: 2px solid white;
  padding: 10px;
  margin-bottom: 25px;
  margin-top: 10px;
  height: 33px;
  background: transparent;
  color: white;
  resize: none;
}

input[type="text"] {
  width: 100%;
  margin-top: 10px;
  height: 5px;
  margin-bottom: 25px;
  padding: 10px;
  background: transparent;
  color: white;
  border: 2px solid white;
}

.beep {
  color: #0037FF;
  font-weight: 700;
}

.beep:nth-child(2) {
  animation-delay: 1s;
  margin-top: -2rem;
}

.beep:nth-child(3) {
  animation-delay: 2s;
  margin-top: -4rem;
}

@keyframes shifty {
  0% {
    opacity: 0;
  }

  32% {
    opacity: 0;
  }

  33% {
    opacity: 1;
  }

  65% {
    opacity: 1;
  }

  66% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

.bottom-pad {
  margin-bottom: 4rem;
}

.bottom-pad-2 {
  margin-bottom: 4rem;
  padding-bottom: 6rem;
}

.brand {
  display: flex;
  flex-flow: column;
  justify-content: center;
  height: inherit;
}

.row {
  flex-flow: row;
}

.hero-h1 {
  text-align: center;
  font-weight: 100;
  line-height: 1;
  margin: auto;
  max-width: 700px;
  font-size: 5rem;
  color: aliceblue;
  text-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
}

.hero-h1-2 {
  width: min-content;
  text-align: right;
  font-weight: 100;
  line-height: 1;
  margin: auto;
  max-width: 700px;
  font-size: 6rem;
  margin-right: 1rem;
  color: aliceblue;
  text-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
}

.hero-h2-2 {
  width: auto;
  text-align: left;
  font-weight: 100;
  line-height: 1;
  margin: auto;
  margin-left: 1rem;
  max-width: 700px;
  font-size: 4rem;
  color: aliceblue;
  text-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
}

.hero-h1-3 {
  width: min-content;
  text-align: right;
  font-weight: 100;
  line-height: 1;
  margin: auto;
  max-width: 700px;
  font-size: 4rem;
  margin-right: 1rem;
  color: aliceblue;
  text-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
}

.hero-h2-3 {
  width: auto;
  text-align: left;
  font-weight: 100;
  line-height: 1;
  margin: auto;
  margin-left: 1rem;
  max-width: 700px;
  font-size: 4rem;
  color: aliceblue;
  text-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
}

.wrap {
  display: flex;
  flex-flow: wrap;
}

.flex {
  display: flex;
}

.column {
  flex-flow: column;
}

.wrapper {
  max-width: 920px;
  padding: 0.5rem;
  margin: auto;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.wrapper-2 {
  max-width: 1024px;
  padding: 0.5rem;
  margin: auto;
  border-bottom: 1px solid #222;
  padding-bottom: unset;
}

.center {
  justify-content: center;
}

.button {
  border-radius: 0.5rem;
  border: 4px solid rgba(0, 0, 0, 0.2);
  padding: 0px 2rem;
  width: max-content;
  margin: auto;
  text-decoration: unset;
  background-color: #555;
  box-shadow: 0px 3px rgba(0, 0, 0, 0.2);
  transition: color 200ms, background-color 200ms, transform 200ms, box-shadow 200ms ease;
}

.button h2 {
  margin: unset;
}

.button:hover {
  background-color: aliceblue;
  color: #111;
  transform: translatey(2px);
  box-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}

.fib1 {
  width: calc(50% - 2rem);
  display: flex;
  padding: 1rem;
  flex-flow: column;
  justify-content: center;
  text-align: right;
}

.fib1a {
  width: calc(40% - 2rem);
  display: flex;
  padding: 1rem;
  flex-flow: column;
  justify-content: center;
  text-align: right;
}

.fib2 {
  padding: 1rem;
  display: flex;
  padding: 1rem;
  flex-flow: column;
  justify-content: space-around;
  width: calc(50% - 2rem);
}

.fib3 {
  padding: 1rem;
  display: flex;
  padding: 1rem;
  flex-flow: column;
  justify-content: space-around;
  width: calc(60% - 2rem);
}

.fib4 {
  padding: 1rem;
  display: flex;
  padding: 1rem;
  flex-flow: column;
  justify-content: space-around;
  width: 100%;
}

.active {
  border-bottom: 1px dotted;
}

.fib2 {
  padding: 1rem;
  display: flex;
  padding: 1rem;
  flex-flow: column;
  justify-content: space-around;
  width: calc(50% - 2rem);
  border-left: 1px solid #222;
}

.fib2a {
  display: flex;
  padding: 1rem;
  flex-flow: column;
  justify-content: space-around;
  width: calc(60% - 2rem);
  border-left: 1px solid #222;
}

.fib3a {
  padding: 1rem;
  display: flex;
  padding: 1rem;
  flex-flow: column;
  justify-content: space-around;
  width: calc(40% - 2rem);
  border-left: 1px solid #222;
}

.fib2 h3 {
  margin: unset;
  transform: translatex(0px);
  transition: transform 200ms ease;
}

.fib2 h3:hover {
  transform: translatex(5px);
}

.fib2 h3:hover b {
  color: #FF005D;
  padding: 0px 4px;
  border-radius: 5rem;
  margin: 0px -4px;
  background-position: 100%;
  background-size: 10px;
  background-image: url(dash.svg);
}

.fib2 h3 b {
  background-position: 0%;
  transition: color 200ms, background-position 1s ease;
}

.full {
  height: 100%;
  width: 100%;
}

.same-height {}

.header-wrapper {
  padding: 0px 8px;
  height: inherit;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  max-width: 920px;
  margin: auto;
}

.mailbox a {
  transition: color 200ms ease;
}

.mailbox a:hover {
  color: #FF005D;
}

.menu {
  margin: auto 0px;
  text-align: right;
}

.menu a {
  text-decoration: unset;
  margin: auto 4px;
  color: #0037FF;
  transition: color 500ms ease;
}

.menu a:hover {
  color: #FF005D;
}

.hero {
  height: calc(50vh + 80px);
  overflow: hidden;
  background-color: rgba(0, 60, 85, 0.5);
  background-image: url(background.png);
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.hero-sustain {
  height: calc(50vh + 80px);
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url(slime.jpg);
  background-blend-mode: overlay;
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
}

.hero-contact {
  height: calc(50vh + 80px);
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url(Valleylake.jpg);
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.hero-platform {
  height: calc(50vh + 80px);
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.8);
  background-image: url(platform.png);
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.hero-about {
  height: calc(50vh + 80px);
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.8);
  background-image: url(Lighthouse-Sunset.jpg);
  background-blend-mode: overlay;
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
}

.goal {
  text-align: center;
}

.info-header {
  font-weight: 100;
  line-height: 1.2;
  font-size: 2.5rem;
  margin: 1rem 0rem;
}

.map {
  width: 678px;
}

.mailbox {
  position: relative;
}

.info {
  background-image: linear-gradient(2deg, transparent 0px, transparent 80px, #111 80px, #111 calc(100% - 80px), transparent calc(100% - 80px));
  margin-top: -80px;
  padding-top: 80px;
  height: auto;
  min-height: 25vh;
  z-index: 5;
  position: relative;
  display: flex;
  flex-flow: column;
  padding-bottom: 1.5rem;
}

.info-2 {
  background-image: linear-gradient(2deg, transparent 0px, transparent 80px, #111 81px, #111 calc(100% - 81px), transparent calc(100% - 80px));
  margin-top: -80px;
  padding-top: 80px;
  height: auto;
  min-height: 25vh;
  z-index: 5;
  position: relative;
  display: flex;
  flex-flow: column;
}

.cc {
  position: fixed;
  color: #111;
  font-size: 1rem;
  margin: 1rem;
  bottom: 0px;
  left: 0px;
}

@media screen and (max-width:1130px) {
  .hero-h1-2 {
    font-size: 3rem;
    margin: auto;
    margin-bottom: unset;
    text-align: center;
    width: max-content;
  }

  .hero-h2-2 {
    font-size: 2rem;
    margin: auto;
    margin-top: 1rem;
    text-align: center;
  }

  .hero-h1-3 {
    font-size: 2rem;
    margin: auto;
    margin-bottom: unset;
    text-align: center;
    width: max-content;
  }

  .hero-h2-3 {
    font-size: 2rem;
    margin: auto;
    margin-top: 1rem;
    text-align: center;
  }
}

@media screen and (max-width: 800px) {
  .info-header {
    font-weight: 100;
    font-size: 1.5rem;
  }

  .info {
    padding-top: 80px;
    padding-bottom: 40px;
  }

  .hero-h1 {
    text-align: center;
    font-weight: 100;
    line-height: 1;
    margin: auto;
    max-width: 700px;
    font-size: 3rem;
    color: aliceblue;
    text-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
  }

  .hero {
    min-height: 40vh;
    height: calc(40vh + 80px);
  }

  .fib1 {
    width: calc(40% - 2rem);
    display: flex;
    padding: 1rem;
    flex-flow: column;
    justify-content: center;
    text-align: right;
  }

  .wrapper-2 {
    display: flex;
    flex-flow: column;
  }

  .fib2 {
    padding: 1rem;
    display: flex;
    padding: 1rem;
    flex-flow: column;
    justify-content: space-around;
    width: calc(60% - 2rem);
  }

  .fib1a {
    text-align: left;
    padding: 1rem;
    display: flex;
    padding: 1rem;
    flex-flow: column;
    justify-content: space-around;
    width: 100%;
    padding-bottom: 0rem;
  }

  .fib2a {
    padding: 1rem;
    display: flex;
    padding: 1rem;
    flex-flow: column;
    justify-content: space-around;
    width: 100%;
    border: unset;
    padding-top: 0rem;
  }

  .row {
    flex-flow: wrap;
  }

  .fib1 {
    text-align: left;
    padding: 1rem;
    display: flex;
    padding: 1rem;
    flex-flow: column;
    justify-content: space-around;
    width: 100%;
    padding-bottom: 0rem;
  }

  .fib2 {
    padding: 1rem;
    display: flex;
    padding-top: 0rem;
    flex-flow: column;
    justify-content: space-around;
    width: 100%;
    border: unset;
  }

  .fib3 {
    padding: 1rem;
    display: flex;
    padding: 1rem;
    flex-flow: column;
    justify-content: space-around;
    width: 100%;
    border: unset;
  }

  .fib3a {
    padding: 1rem;
    display: flex;
    padding: 1rem;
    flex-flow: column;
    justify-content: space-around;
    width: 100%;
    border: unset;
  }

  .info-2 {
    background-image: linear-gradient(2deg, transparent 0px, transparent 80px, #111 80px, #111 calc(100% - 80px), transparent calc(100% - 80px));
    margin-top: -80px;
    padding-top: 80px;
    padding-bottom: 40px;
    height: auto;
    min-height: 25vh;
    z-index: 5;
    position: relative;
    display: flex;
    flex-flow: column;
  }

  .goal {
    text-align: left;
    padding: 1rem;
  }

  .hero-h1-2 {
    font-size: 3rem;
    margin: auto;
    margin-bottom: unset;
    text-align: center;
    width: max-content;
  }

  .hero-h2-2 {
    font-size: 2rem;
    margin: auto;
    margin-top: 1rem;
    text-align: center;
  }

  .hero-h1-3 {
    font-size: 2rem;
    margin: auto;
    margin-bottom: unset;
    text-align: center;
    width: max-content;
  }

  .hero-h2-3 {
    font-size: 2rem;
    margin: auto;
    margin-top: 1rem;
    text-align: center;
  }

  .wrapper {
    max-width: 920px;
    padding: 0.5rem;
    margin: unset;
  }

  .map {
    width: 100%;
  }

  .hero {
    background-attachment: scroll;
  }

  .hero-sustain {
    background-attachment: scroll;
  }

  .hero-contact {
    background-attachment: scroll;
  }

  .hero-platform {
    background-attachment: scroll;
  }

  .hero-about {
    background-attachment: scroll;
  }

  form {
    width: 80vw;
  }
}
